/* Post Index */
.post-column {
    margin: 15px 0;
}
.card-body{
    min-height: 200px;
}
.card-body small{
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
}

/* Post Show */
.post-image{
    margin: 30px auto;
    text-align: center;
}
